*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.wrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }

img{
    min-width: 100%;
    min-height: 100%;
}

  .one {
    grid-column: 1;
    grid-row: 1/8;
  }
  .two {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    background: brown;
  }
  /* .three {
    grid-column: 1;
    grid-row: 2 / 5;
    background: green;
  } */
  .four {
    grid-column: 3;
    grid-row: 3;
    background: yellow;
  }
  .five {
    grid-column: 2/3;
    grid-row: 4;
    background: blue;
  }
  .six {
    grid-column: 3;
    grid-row: 4;
    background: purple;
  }