

*{
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

body, html{
    color: #222;
    background: #333;
}

header {
	background: #ff9a40;
	border-bottom: 6px solid #cf7e36;
	margin: auto;
	height: 150px;
}

#hIndex{
	text-align: left;
	display: inline;
}

.siteLogo{
	height: auto;
	width: auto;
	padding-left: 2.46em;
	padding-bottom: 0.32em;
}

.gameLogo{
	height: 150px;
	width: 250px;
	display: inline;
	margin-left: 670px;
	color: white;
}

.conReg{
	display: inline;
	margin-left: 550px;
	margin-top: 50px;
	position: absolute;
	vertical-align: middle;
	font-family: 'Poppins', sans-serif;
}

#register{
	border: 1px solid black;
	color: rgb(12, 12, 12);
	text-decoration: none;
	padding: 5px;
}

#connexion {
	border: 1px solid black;
	color: white;
	background-color: #383837;
	text-decoration: none;
	padding: 5px;
}


#logout{
	border: 1px solid black;
	color: white;
	background-color: #383837;
	text-decoration: none;
	padding: 5px;
}

#searchlabel {
	font-size:0.1%; 
	color: #333; 
	user-select: none; 
	margin-bottom:-1.25em;
}


#searchbox {
	display: block;
	margin: auto;
	flex-grow: 1;
	padding: 0.75em;
	margin-bottom: 1.5em;
	font-size: 11pt;
	font-family: 'Poppins', sans-serif;
	width: 80%;
}



.characterNav{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0.6em;
    background: #333;
	margin: 0 100px;

}

#gameicon{
	background-size: contain;
	height: 300px;

}

.charactericon {
	width: 300px;
	flex-grow: 1;
	border: 1px solid #222;
	border-bottom: 3px solid #111;
	padding: 0;
	text-align: center;
	margin: 0.33em;
	user-select: none;
	background-color: #555;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center 25%;
	color: #fff;
	text-shadow: 1px 1px 6px #111;
	/* font-family: 'Poppins', sans-serif; */
	font-size: 22pt;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: 0.1s;
	transition-timing-function: ease-in-out;
	box-sizing: border-box;
}

.charactericon:hover, .charactericon:active {
	border-color: #f2ff40;
	border-bottom-color: #ecff40;
	transition: 0.1s;
	transition-timing-function: ease-in-out;
}

.charactericon a, .charactericon a:visited {
	padding: 1em 0em;
	width: 100%;
	height: max-content;
	color: #fff;
	text-shadow: 5px 5px 10px #111;
	/* font-family: 'Poppins', sans-serif; */
	font-size: 22pt;
	text-decoration: none;
}


.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	display: none;
}

.overlay:target {
	visibility: visible;
	display: block;
}
  
.popup {
	margin: 2em auto;
	padding: 1em;
	background: rgb(12, 12, 12);
	width: 40%;
	position: relative;
	transition: all 1s ease-in-out;
}

.popup h1{
	color: white;
}

.popup a, .popup a:visited {
	color: #bf2000;
	text-decoration: none;
	font-weight: bold;
}

.popup a:hover {
	color: #f22800;
}

.popup .close {
	position: absolute;
	top: 50px;
	right: 30px;
	transition: all 2ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #bf2000;
}
.popup .close:hover {
	color: #f22800;
}