*{
    box-sizing: border-box;
}

body, html{
    color: #222;
    background: #333;
}

header {
	background: #ff9a40;
	border-bottom: 6px solid #cf7e36;
	margin: auto;
	height: 150px;
}

#hIndex{
	text-align: left;
	display: inline;
}

.siteLogo{
	height: auto;
	width: auto;
	padding-left: 2.46em;
	padding-bottom: 0.32em;
}
.gameLogo{
	height: 150px;
	width: 250px;
	display: inline;
	margin-left: 670px;
	color: white;
    font-family: 'SSF4 ABUKET';
}


.box{
    display: flex;
    flex-direction: column;
    max-width: min-content;
    margin-left: 850px;
}

.box p{
    color: white;
}

.box h1{
    color: white;
}

.box a, .box a:visited{
    color: #cf7e36;
}

.success{
	color: white;
}

.success a, .success a:visited{
	color: #cf7e36;
}